<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.assigmnent.controller.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Anntpc04830_SOF3011_Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.assigmnent.controller.user.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.assigmnent.controller.user.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AccountFitler</display-name>
    <filter-name>AccountFitler</filter-name>
    <filter-class>com.assigment.filter.AccountFitler</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccountFitler</filter-name>
    <url-pattern>/AccountFitler</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ActivationConfirmServlet</display-name>
    <servlet-name>ActivationConfirmServlet</servlet-name>
    <servlet-class>com.assigmnent.controller.user.ActivationConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationConfirmServlet</servlet-name>
    <url-pattern>/ActivationConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountActivationServlet</display-name>
    <servlet-name>AccountActivationServlet</servlet-name>
    <servlet-class>com.assigment.activation.AccountActivationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountActivationServlet</servlet-name>
    <url-pattern>/AccountActivationServlet</url-pattern>
  </servlet-mapping>
</web-app>